/*.settings form{
    display: flex;
    flex-direction: column;
}
.settings-update-btn{
    border: 1px solid black;
    background: green;
}

.order-wrap{
    width: 500px;
    max-height: 500px;
    margin: 0 auto;
    padding: 10px;
    overflow-y: auto;
}

.order-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px; 
    margin-bottom: 20px;
    background-color: antiquewhite;
}
    */