.checkout {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #c5c2c2;
}
  
.checkout-section {
    margin-bottom: 0px;
}
  
.checkout-section h2 {
    margin-bottom: 10px;
}
  
.checkout-section p {
    margin: 5px 0;
}
.checkout-section img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 5px;
}
.checkout button{
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
  
input[type="radio"] {
    margin-right: 10px;
}
  
.pay {
    display: block;
    padding: 10px;
    color: rgb(8, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
  
.order-summary{
    display: flex;
    justify-content: space-between;
}
.order-summary p{
    margin-left: 20px;
    font-size: 16px;
    color: #272727;
}
.order-summary p:last-child {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    color: #333;
}


.order h3{
    color: #333;
}

.select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
  }
  
  .select:focus {
    border-color: green; 
    outline: none; 
  }
  
  .payment {
    margin: 20px 0;
  }
  
  .payment h4{
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
  }

  .shipping{
    display: flex;
    flex-direction: column;
  }
  .shipping h4{
    font-size: 18px;
    color: #333;
    font-weight: 400;
  }
  .shipping input{
    border: none;
    margin: 8px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #F5F5F5;
  }

  .order-summary{
    display: flex;
    flex-direction: column;
  }
  .order-summary h4{
    font-size: 18px;
    color: #333;
    font-weight: 400;
  }

.credit-card{
    display: flex;
    justify-content: space-between;
}

.credit-card img{
    height: 25px;
    width: 35px;
    object-fit: contain;
}

/*---dropdown---*/
.custom-dropdown {
    position: relative;
    width: 100%;
  }
  
  .dropdown-header {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown-list {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
  }
  
  .dropdown-option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .dropdown-option:hover {
    background-color: #f0f0f0;
  }

  .credit-card p{
    font-size: 16px;
    color: #272727;
  }

  .success{
    font-size: 16px;
    color: green;
  }

