.wishlist-items{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;   
}
.wishlist-format{
    background-color: rgba(255, 255, 255, 0.512);
    color: #454545;
    border-radius: 2%;
    top: 20px;
    overflow: hidden;
    -webkit-box-shadow: -2px -1px 17px 1px rgba(54,53,54,0.76);
    -moz-box-shadow: -2px -1px 17px 1px rgba(54,53,54,0.76);
    box-shadow: -2px -1px 17px 1px rgba(54,53,54,0.76); 
}
.wishlist-format img{
    transition: transform 0.5s ease;
}
.wishlist-format:hover img{
    transform: scale(1.1);
}
.whishlisticon-product-icon{
    width: 300px;
    height: 250px;
    object-fit: cover;
}
.empty-wishlist {
    text-align: center;
    margin-top: 50px;
    min-height: 100%;
}
.shop-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.wishlist-items-btns{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    
}
.wishlist-items-btns button{
    border-radius: 5px;
    color: #454545;
    -webkit-box-shadow: -2px -1px 5px 1px rgba(54,53,54,0.76);
    -moz-box-shadow: -2px -1px 5px 1px rgba(54,53,54,0.76);
    box-shadow: -2px -1px 5px 1px rgba(54,53,54,0.76);
}
.whishlistitems-remove{
    font-size: 26px;
}

.whishlistitems-remove:hover{
    transform: scale(1.2);
}